:host
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    padding: 25px 40px;
    top:0;
    font-size: 20px;
    width: calc(100% - 80px);
    background-color: rgb(195, 195, 195);
    z-index: 101;
    color:white;
    font-weight: bold;
    min-height: 40px;
}
