@import './variables';

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../assets/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../assets/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/Roboto/Roboto-Medium.ttf');
}


html,body{min-height: 100%}

body
{
    margin:0;
    //color:white;
    font-family: 'Roboto-Regular';
    background-color: $light-grey;
}

//don't work in component for some reason
a,a:link,a:visited
{
    color:$text-grey;
}
