@import './variables';
:host
{
    display: flex;
    //justify-content: space-between;
    flex-direction: column;
    margin: 10px 0 0 0;
    padding-left: 15px;

    .options-bar
    {
        padding-left: 34px;
    }

    .query-button
    {
        opacity: 0;
        cursor: pointer;
        -webkit-appearance: none;
        border: none;
        background-color: white;
        //width: 200px;
        font-family: inherit;
        text-decoration: underline;
        transition: opacity 0.3s ease;
        color: grey;
        text-align: left;
        word-wrap: nowrap;
        font-size: 13px;
        padding: 0;
        margin-right: 6px;
    }

    .list-item-text
    {
        transition: color 0.3s ease-in;
        font-size: 25px;
        color:$text-grey;
        line-height: 55px;

        &:before 
        {
            content: ' ';
            position: relative;
            margin-left: -15px;
        }

    }

    &:hover
    {
        .query-button
        {
            opacity: 0.7;
        }
    }
}
