@import './variables';
:host
{
    display: flex;
    //justify-content: space-between;
    flex-direction: column;
    margin: 10px 0 0 0;

    .query-button
    {
        opacity: 0;
        cursor: pointer;
        -webkit-appearance: none;
        border: none;
        background-color: white;
        //width: 200px;
        font-family: inherit;
        text-decoration: underline;
        transition: opacity 0.3s ease;
        color: grey;
        text-align: left;
        word-wrap: nowrap;
        font-size: 15px;
    }

    .list-item-text
    {
        list-style: none;
        transition: color 0.3s ease-in;
        
        font-size: 30px;
        color:$text-grey;
        line-height: 55px;

        &:before 
        {
            content: ' ';
            width: 1px;
            position: absolute;
            height: 40px;
            color:grey;
            vertical-align: middle;
            //padding-right: 10px;
            font-size: 22px;
        }

    }

    &:hover
    {
        .query-button
        {
            opacity: 0.7;
        }
    }
}
